@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
font-size: 15px;
font-weight:70;
font-family: 'Montserrat', sans-serif;
--purple:linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237,63%, 64%));
--VeryGrayishBlue: hsl(240, 78%, 98%);
--LightGrayishBlue: hsl(234, 14%, 74%);
--GrayBlue: hsl(233, 13%, 49%);
--DarkGrayBlue: hsl(232, 13%, 33%);
}

 * {
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-align:center;
} 

body {
    height:100vh;
    background:var(--VeryGrayishBlue);
    display:flex;
    flex-direction:column;
    align-items:center;
}

#wrapper {
    width:clamp(315px, 70%, 1440px);
    max-height:120rem;
    display:flex;
    flex-direction:column;
    align-self:center;
    align-items:center;
    border:1px solid green;
}

img {
    position:fixed;
    min-width:5rem;
    max-width:10rem;
}

img[alt="bg-top"] {
    top:0;
    right:0;
}

img[alt="bg-bottom"] {
    bottom:0;
    left:0;
}

header {
    max-width: 20rem;
    margin-bottom: 4rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}

header > h1 {
    margin-top:2rem;
    margin-bottom:1rem;
    color:var(--GrayBlue);
}


section {
    display:flex;
    gap:1rem;
    color:var(--GrayBlue);
}

 .toggle {
    width:6rem;
    padding:0.9rem;
    background:var(--purple);
    border-radius:30px;
    position:relative;
}

.toggle .ball {
    width:2rem;
    height:2rem;
    padding:0.5rem;
    border-radius:100%;
    box-shadow:1px 1px 1px 1px hsla(0, 6%, 75%, 0.2);
    position:absolute;
    top:-2px;
    right:2px;
    background-color:var(--VeryGrayishBlue);
    color:white;
    transition:cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


.toggle .ball.active {
    left:-5px;
}

.box_con {
    margin-bottom:3rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
    border:1px solid red;
}

.box {
    width:clamp(80%, 80%, 100%);
    padding:4rem;
    background-color:var(--VeryGrayishBlue);
    display:flex;
}

.box2 {
    width:clamp(80%, 80%, 100%);
    padding:4rem;
    background: var(--purple);
    color:var(--VeryGrayishBlue);
}

 .info {
    border-top:1.5px solid var(--LightGrayishBlue);
    border-bottom:1.5px solid var(--LightGrayishBlue);

}

.box2 .info {
    border-top:1.5px solid var(--VeryGrayishBlue);
    border-bottom:1.5px solid var(--VeryGrayishBlue);

}

 .info_btn {
    width:80%;
    padding:0.5rem;
    border:0;
    border-radius:10px;
}

.box1 .info_btn, .box3 .info_btn {
    color:var(--VeryGrayishBlue);
    background:var(--purple);
}

.box1 .info_btn:hover, .box3 .info_btn:hover {
    background:inherit;
    color:var(--GrayBlue);
}
.box2 .info_btn {
    background-color: var(--VeryGrayishBlue);
    color:var(--GrayBlue);
}

.box2 .info_btn:hover {
    background:inherit;
    color:white;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);     
}