@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
font-size: 15px;
font-weight:700;
font-family: 'Montserrat', sans-serif;
--purple:linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237,63%, 64%));
--VeryGrayishBlue: hsl(240, 78%, 98%);              
--LightGrayishBlue: hsl(234, 14%, 74%);
--GrayBlue: hsl(233, 13%, 49%);
--DarkGrayBlue: hsl(232, 13%, 33%);
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-align:center;
} 

body {
    min-height:100vh;
    background-color:var(--VeryGrayishBlue);
    display:flex;
    justify-content:center;
    align-items:center;
}

#wrapper {
    width:clamp(315px, 70%, 1440px);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color:var(--VeryGrayishBlue);
}

img {
    position:fixed;
    min-width:5rem;
    max-width:10rem;
}

img[alt="bg-top"] {
    top:0;
    right:0;
}

img[alt="bg-bottom"] {
    bottom:0;
    left:0;
}

header {
    max-width: 20rem;
    margin: 2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

header > h1 {
    margin-bottom:1.5rem;
    color:var(--GrayBlue);
}


section {
    display:flex;
    gap:1rem;
    color:var(--GrayBlue);
}

 .toggle {
    width:4rem;
    padding:1rem;
    background:var(--purple);
    border-radius:30px;
    position:relative;
}

.toggle:hover{
    background:var(--LightGrayishBlue);
}

.toggle .ball {
    width:2rem;
    height:1.9rem;
    padding:0.5rem;
    border-radius:100%;
    box-shadow:1px 1px 1px 1px hsla(0, 6%, 75%, 0.2);
    position:absolute;
    top:0px;
    right:2px;
    background-color:var(--VeryGrayishBlue);
    color:white;
    transition:cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


.toggle .ball.active {
    left:-5px;
}

.box_con {
    max-width:fit-content;
    display:flex;
    justify-content:center;
    position:relative;
    gap:20px;
    background-color:var(--VeryGrayishBlue);
}

.box {
    width:clamp(20rem, 100%, 25rem);
    padding:2.5rem;
    background-color:white;
    display:flex;
    flex-direction:column;
    gap:10px;
    border-radius:10px;
    box-shadow:.4rem .5rem .4rem hsla(0, 6%, 75%, 0.2);
}

.box2 {
    background: var(--purple);
    color:var(--VeryGrayishBlue);
}

.info_title{
    font-size:1.2em;
    color:var(--GrayBlue);
}

.box2 .info_title {
    color:var(--VeryGrayishBlue);
}

.price {
    font-size:3.5em;
    padding:3.4rem;
    align-self:center;
}

 .info {
    width:clamp(16ch, 100%, 36ch);
    padding:0.2rem;
    border-top:1.5px solid var(--LightGrayishBlue);
    border-bottom:1.5px solid var(--LightGrayishBlue);

}

.box2 .info {
    border-top:1.5px solid var(--VeryGrayishBlue);
    border-bottom:1.5px solid var(--VeryGrayishBlue);

}

 .info_btn {
    width:100%;
    padding:1rem;
    margin-top:2.5rem;
    align-self:center;
    border:2px solid var(--LightGrayishBlue);
    border-radius:5px;
    background:var(--purple);
    color:white;
    font-weight:700;
    text-transform:uppercase;
    cursor:pointer;
    transition:0.7s ease;
}

.box2 .info_btn {
    color:var(--VeryGrayishBlue);
    background:var(--VeryGrayishBlue);
    border:2px solid white;
}

.box .info_btn:hover {
    background:white;
    color:var(--GrayBlue);
}
.box2 .info_btn {
    background-color: var(--VeryGrayishBlue);
    color:var(--GrayBlue);
}

.box2 .info_btn:hover {
    background:inherit;
    color:white;
}


@media screen and (max-width:700px) {

    .box_con {
        flex-direction:column;
    }
    .box{
        width:fit-content;
        padding:1rem;
    }
}

@media screen and (min-width:700px) {
    .box2 {
    transform:scale(1.05);
    }
}